/*
Standards:


Keep articles simple - under 10,000 bytes.
Write the articles as if there are no images. Add images later to help.
80 chars, find with: (<br>|.{81,})
<br> should be used for line breaks, not spacing


*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Coloring ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


body {
	/* Whitepace after the ":" is preserved */

	--main-back   :rgb( 26, 26, 26,255);
	--main-text   :rgb(230,230,230,255);
	--main-title1 :var(--main-text);
	--main-title2 :var(--main-text);
	--main-link   :rgb(255,165,  0,255);
	--table-header:rgb( 64, 64, 64,255);
	--table-cell  :rgb( 43, 43, 43,255);
	--table-border:rgb( 68, 68, 68,255);
	--diag-back   :var(--main-back);
	--diag-fore   :var(--main-text);
	--diag-high   :rgb( 64,148,255,255);
	--diag-dim    :rgb(115,115,115,255);
	--code-border :rgb( 18, 18, 18,255);
	--code-back   :rgb( 37, 37, 37,255);
	--code-text   :rgb(220,220,220,255);
	--code-comment:rgb(120,120,221,255);
	--code-number :rgb( 42,161,152,255);
	--code-string :rgb( 42,161,152,255);
	--code-keyword:rgb(133,153,  0,255);
	--code-label  :rgb(170,187,128,255);

/*
	--main-back   :rgb(239,239,239,255);
	--main-text   :rgb(  0,  0,  0,255);
	--main-title1 :var(--main-text);
	--main-title2 :var(--main-text);
	--main-link   :rgb( 32, 80,255,255);
	--table-header:rgb(200,200,200,255);
	--table-cell  :rgb(220,220,220,255);
	--table-border:rgb(160,160,160,255);
	--diag-back   :var(--main-back);
	--diag-fore   :var(--main-text);
	--diag-high   :rgb( 64,148,255,255);
	--diag-dim    :rgb(165,165,165,255);
	--code-border :rgb(210,210,210,255);
	--code-back   :rgb(230,230,230,255);
	--code-text   :rgb( 10, 10, 10,255);
	--code-comment:rgb( 90, 90,221,255);
	--code-number :rgb( 67, 49,158,255);
	--code-string :rgb(128, 90,128,255);
	--code-keyword:rgb(133,103,  0,255);
	--code-label  :rgb(110,127, 68,255);
*/
/*
	--main-back   :rgb(239,239,239,255);
	--main-text   :rgb(  0,  0,  0,255);
	--main-title1 :rgb( 64,160,255,255);
	--main-title2 :rgb(128,128,255,255);
	--main-link   :rgb( 32, 80,255,255);
	--table-header:rgb(200,200,200,255);
	--table-cell  :rgb(220,220,220,255);
	--table-border:rgb(160,160,160,255);
	--diag-back   :var(--main-back);
	--diag-fore   :var(--main-text);
	--diag-high   :rgb( 64,148,255,255);
	--diag-dim    :rgb(165,165,165,255);
	--code-border :rgb(210,210,210,255);
	--code-back   :rgb(230,230,230,255);
	--code-text   :rgb( 10, 10, 10,255);
	--code-comment:rgb( 90, 90,221,255);
	--code-number :rgb( 67, 49,158,255);
	--code-string :rgb(128, 90,128,255);
	--code-keyword:rgb(133,103,  0,255);
	--code-label  :rgb(110,127, 68,255);
*/
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~ Override Default HTML ~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*
@font-face {
	font-family:"Montserrat";
	src:url("./Montserrat-Regular.ttf") format("truetype");
}
@font-face {
	font-family:"Montserrat";
	src:url("./Montserrat-Bold.ttf") format("truetype");
	font-weight:bold;
}
*/
* {
	box-sizing:border-box;
	padding:0;
	border:0;
	border-collapse:collapse;
	margin:0;
	outline:none;
	text-decoration:none;
	font-size:100%;
	vertical-align:baseline;
}
body {
	/* Prevent the screen from oscillating around resizing javascript because of
	the scrollbar. */
	overflow-y:scroll;
	/* Repeat the background twice horizontally. The right side of the left copy, and
	the left side of the right copy, will be covered by the content. */
	background-image:url("./background.png");
	background-size:50% auto;
	background-repeat:repeat;
	background-attachment:fixed;
	background-color:#000000;
	/*background-color:#efefef;*/
	color:var(--main-text);
	/*font-family:Montserrat,sans-serif,sans-serif;*/
	font-family:Arial,"Lucida Grande","Lucida Sans Unicode","GNU Unifont",Verdana,Helvetica,sans-serif;
	/*font-size:calc(0.45*( 1.5vh + 1.1vw ));*/
	/*font-size:calc(1.00*( 0.5em + 1.0vh ));*/
	font-size:clamp( 0.9rem , 0.25vw + 0.85rem , 1.15rem );
	/*line-height:140%;*/
	/* Prevent weird font resizing on mobile. */
	/*-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	text-size-adjust:none;*/
}
a, a:hover {
	color:var(--main-link);
	/*background-color:rgb(210,210,210);*/
	/*font-family:sans-serif,sans-serif;*/
	/*font-weight:bold;*/
}
a:hover {
	text-decoration:underline;
}
sup {
	vertical-align:super;
	font-size:80%;
}
sub {
	vertical-align:sub;
	font-size:80%;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Main Content ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#content {
	max-width:67rem;
	padding:2.98rem;
	padding-top:0rem;
	padding-bottom:1.8rem;
	/*border:1px solid #808080;*/
	background-color:var(--main-back);
	margin:auto;
	margin-bottom:3rem;
}
#content canvas, #content img {
	display:block;
	margin:auto;
	margin-top:3rem;
	margin-bottom:3rem;
}
#content h1 {
	display:block;
	width:100%;
	margin:0;
	margin-bottom:1rem;
	padding:0;
	padding-top:2.30rem;
	border-bottom:2px solid var(--main-title1);
	border-radius:inherit;
	color:var(--main-title1);
	font-size:200%;
	font-weight:bold;
}
#content h2 {
	display:block;
	width:100%;
	margin-top:3rem;
	margin-bottom:0rem;
	font-size:160%;
	font-weight:bold;
	color:var(--main-title2);
}
#content .codeblock, #content .consoleblock, #content i, .diagram {
	font-family:Consolas,monospace,monospace;
	-moz-tab-size:5;
	-o-tab-size:5;
	tab-size:5;
	white-space:pre;
}
#content .codeblock, #content .consoleblock {
	display:block;
	width:90%;
	padding:0.5775rem;
	margin:auto;
	margin-top:2rem;
	margin-bottom:2rem;
	border:1px solid var(--code-border);
	background-color:var(--code-back);
	color:var(--code-text);
	overflow:auto;
}
#content .consoleblock {
	background-color:#000000;
	color:#cccccc;
	word-wrap:break-word;
	white-space:pre-wrap;
}
#content i {
	display:inline-block;
	padding-left:1pt;
	padding-right:1pt;
	background-color:var(--code-back);
	font-style:normal;
	color:var(--code-text);
}
#content p {
	/* border:1px solid black; */
	display:block;
	/*text-align:justify;*/
	margin-top:1.5rem;
	margin-bottom:1.5rem;
}
button, select {
	margin:0.165rem;
	/* margin-left:0.0825rem; */
	/* margin-right:0.0825rem; */
	color:#ffffff;
	border:1px solid;
	border-color:#8080af;
	background-color:#6060ff;
	padding:0.2rem;
	padding-left:0.4rem;
	padding-right:0.4rem;
}
button:hover, select:hover {
	background-color:#7070ff;
}
.listtable {
	width:85%;
	margin-left:4rem;
	margin-top:2rem;
	margin-bottom:2rem;
}
.listtable td {
	padding:0.2rem;
}
.listtable td:nth-child(1) {
	padding-right:0.4rem;
}
.datatable {
	max-width:85%;
	margin:auto;
	margin-top:2rem;
	margin-bottom:2rem;
	border:1px solid var(--table-border);
	/* border-collapse:separate; */
	/* border-spacing:0.2rem; */
}
.datatable td {
	padding:0.4rem;
	padding-left:0.75rem;
	padding-right:0.75rem;
	border:1px solid var(--table-border);
	background-color:var(--table-cell);
	vertical-align:top;
}
.nobordercells {
	border-collapse:collapse;
}
.nobordercells td {
	border:none;
}
.headercol td:nth-child(1) {
	background-color:var(--table-header);
	font-weight:bold;
}
.headerrow tr:nth-child(1) td {
	background-color:var(--table-header);
	font-weight:bold;
	text-align:center;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SVGs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.diagram {
	display:block;
	width:85%;
	height:auto;
	margin:auto;
	margin-top:2rem;
	margin-bottom:2rem;
	/* Used for troubleshooting */
	/* border:2px dashed var(--diag-fore); */
	font-family:Consolas,monospace,monospace;
	font-size:1.1rem;
	stroke-width:2px;
	stroke:var(--diag-fore);
	stroke-linecap:round;
	fill:var(--diag-fore);
}
.diagram text        {stroke-width:0;}
.diagram .backfill   {fill  :var(--diag-back);}
.diagram .backstroke {stroke:var(--diag-back);}
.diagram .forefill   {fill  :var(--diag-fore);}
.diagram .forestroke {stroke:var(--diag-fore);}
.diagram .dimfill    {fill  :var(--diag-dim) ;}
.diagram .dimstroke  {stroke:var(--diag-dim) ;}
.diagram .highfill   {fill  :var(--diag-high);}
.diagram .highstroke {stroke:var(--diag-high);}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header/Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#header, #footer {
	padding-top:0;
	padding-bottom:0;
	text-align:center;
	color:#ffffff;
}
#header a, #footer a {
	color:#ffa500;
}
#header {
	padding-top:1rem;
	padding-bottom:1rem;
}
#footer {
	margin-top:-1.9rem;
	margin-bottom:3.1rem;
	border:none;
}
#footer b {
	display:none;
	user-select:none
}
/* #footer:first-line {font-style:italic;} */
